---
const currentYear = new Date().getFullYear();
---

<footer class="mt-auto py-6 px-4 sm:px-6 md:px-8 bg-gray-100 dark:bg-gray-800 border-t border-gray-200 dark:border-gray-700">
  <div class="max-w-7xl mx-auto text-gray-600 dark:text-gray-400">
    <div class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0">
      <div class="text-center md:text-left">
        <p class="">
          Made by{" "}
          <a
            href="https://vberkoz.com"
            target="_blank"
            rel="noopener noreferrer"
            class="text-primary-600 dark:text-primary-400 hover:underline"
          >
            Vasyl Berkoz
          </a>
        </p>
      </div>
      
      <div class="flex items-center space-x-6">
        <a
          href="/privacy-policy"
          class="text-primary-600 dark:text-primary-400 hover:underline"
        >
          Privacy Policy
        </a>
      </div>
    </div>
    
    <div class="mt-6 pt-6 border-t border-gray-200 dark:border-gray-700 text-center">
      <p class=" text-sm">
        © {currentYear} Text Case Converter. Transform your text with ease.
      </p>
    </div>
  </div>
</footer>