---
const currentYear = new Date().getFullYear();
---

<footer
    class="text-muted-foreground w-full text-center text-xs leading-loose sm:text-sm"
>
    <p>
        &copy; {currentYear} Text Case Converter. All rights reserved. Made by{
            " "
        }
        <a
            href="https://vberkoz.com"
            target="_blank"
            rel="noopener noreferrer"
            class="font-medium underline underline-offset-4">Vasyl Berkoz</a
        >
    </p>
</footer>
