---
const currentYear = new Date().getFullYear();
---

<footer>
    <span class="unbreakable">&copy; {currentYear}</span>
    <span class="unbreakable">Text Case Converter.</span>
    <span class="unbreakable">All rights reserved.</span>
    <span class="unbreakable">
        Made by{" "}
        <a href="https://vberkoz.com" target="_blank" rel="noopener noreferrer">Vasyl Berkoz</a>
    </span>
</footer>

<style>
    footer {
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        font-size: smaller;
    }
    .unbreakable {
        text-wrap-mode: nowrap;
    }
</style>
