---
const title = "Text Case Converter";
const subtitle = "Transform your text to any case format instantly";
---

<header class="flex items-center flex-col gap-2">
    <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight text-balance">{title}</h1>
    <p class="text-muted-foreground text-xl">{subtitle}</p>
</header>
